//#BDBDBD
$background: #F0F0F0;
$alive: #03A9F4;
/* General Styling */
body {
  margin: 50px;
  font-family: 'Space Mono', sans-serif;
  box-sizing: border-box;
  text-align: center;
  background: $background;
}

/* App styling */
#game-board {
  /* General */
  .game-card {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 50px 40px;
    display: inline-block;
  }
  /* Header Styling */
  .head {
    text-align: center;
    display: inline-block;
    h1 {
      display: inline-block;
    }
    button {
      display: inline-block;
      vertical-align: top;
      margin: 8px;
      &:active,
      &:focus {
        border: none;
        outline: 0;
      }
    }
  }
  .active {
    background: lighten($alive, 30%);
  }

  /* Board Styling */
  .board {
    margin-top: 12px;
    border: 2px solid rgba(0,0,0,0.3);
    display: inline-block;
    .col-sm-12 {
      padding: 0;
    }
  }
  .game-row {
    width: 360px;
  }
  .cell {
    height:12px;
    width:12px;
    display:block;
    float:left;
  }
  .alive {
    background: $alive;
  }
  .dead {
    background: white;
  }
}




/* Mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      margin: 16px;
    }
}
@media only screen and (max-width: 1200px) {
  #game-board {
    h1 {
      display: block;
    }
    .game-card {
      padding: 10px;
      padding-bottom: 5px;
    }
    button {
      font-size: 12px;
      margin: 5px;
      display: inline-block;
    }
  }
}
